<footer class="bg-white">
    <section class="bg-white text-center margin-center padding-8 deskopt-footer">
        <article class="mb-8 padding-8">
            <i class="fas fa-credit-card footer-icons"></i>
            <h4 class="font-large mb-8">Pagá con tarjeta o en efectivo</h4>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
        </article>

        <article class="mb-8 padding-8">
            <i class="fas fa-gift footer-icons"></i>
            <h4 class="font-large mb-8">Envío gratis desde $ 2.500</h4>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
                miles de productos. Es un beneficio de Mercado Puntos.
            </p>
        </article>

        <article class="padding-8">
            <i class="fas fa-user-shield footer-icons"></i>
            <h4 class="font-large mb-8">Seguridad, de principio a fin</h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
                puedas hacer, porque estás siempre protegido.
            </p>
        </article>
    </section>

    <section class="bg-white margin-center padding-8">
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
</footer>