<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mercado Liebre - Ingresá</title>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/utils.css" />

  <link rel="stylesheet" href="/css/theme.css" />
  <link rel="stylesheet" href="/css/styles-tablet.css" />
  <link rel="stylesheet" href="/css/styles-laptop.css" />
</head>

<body class="bg-light-grey">
  <header class="bg-yellow padding-8 fixed">
    <div class="fx fx-wrap fx-align-center">
      <h1 class="width-50 w-desktop-33"><a href="http://localhost:3000/">
          <img src="/images/logo-mercado-liebre2.svg" alt="Mercado Liebre" /></a>
      </h1>
      <form class="width-50 fx padding-8 w-desktop-33">
        <div class="search-bar">
          <input type="text" name="search" placeholder="Buscar productos" />
          <button><i class="fas fa-search"></i></button>
        </div>
      </form>
      <p class="text-center width-100 w-desktop-33">
        <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta
        de crédito
      </p>
    </div>
    <nav class="nav-bar mt-8 width-100 hide tablet-fx fx-space-between">
      <ul class="nav-section mb-8 fx">
        <li class="mx-8"><a href="/ofertas">Ofertas</a></li>
        <li class="mx-8"><a href="#">Tiendas Oficiales</a></li>
        <li class="mx-8"><a href="#">Vender</a></li>
        <li class="mx-8"><a href="#">Ayuda</a></li>
      </ul>
      <ul class="nav-section mb-8 fx">
        <li class="mx-8">
          <a href="/register">Crea tu cuenta <i class="fas fa-address-card"></i></a>
        </li>
        <li class="mx-8">
          <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
        </li>
        <li class="mx-8">
          <a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a>
        </li>
      </ul>
    </nav>
    <div class="burger-menu font-heading tablet-hide mt-8">
      <i class="fas fa-bars"></i>
    </div>
  </header>

  <main class="padding-8 width-90 w-tablet-70 margin-center m-170">
    <form class="mt-16" action="/" method="GET">
      <div class="formulario-general">
        <label for="username" class="accessibility-label">Nombre del Usuario</label><input class="formulario-input"
          id="username" type="text" name="username" placeholder="Nombre de usuario" />
      </div>

      <div class="formulario-general">
        <label for="password" class="accessibility-label">Contraseña</label>
        <input class="formulario-input" id="password" type="text" name="password" placeholder="Contraseña" />
      </div>

      <button class="button font-white bg-light-blue width-100" type="submit">
        Enviar
      </button>
    </form>
  </main>
  <footer class="bg-white">
    <section class="bg-white text-center margin-center padding-8 desktop-footer">
      <article class="mb-8 padding-8">
        <i class="fas fa-credit-card footer-icons"></i>
        <h4 class="font-large mb-8">Pagá con tarjeta o en efectivo</h4>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </article>

      <article class="mb-8 padding-8">
        <i class="fas fa-gift footer-icons"></i>
        <h4 class="font-large mb-8">Envío gratis desde $ 2.500</h4>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </article>

      <article class="padding-8">
        <i class="fas fa-user-shield footer-icons"></i>
        <h4 class="font-large mb-8">Seguridad, de principio a fin</h4>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
          puedas hacer, porque estás siempre protegido.
        </p>
      </article>
    </section>

    <section class="bg-white margin-center padding-8">
      <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
  </footer>
</body>

</html>